.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media all and (max-width: 550px) and (min-width: 350px) {
  .main_container_app {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px;
  }

  .main_container_app .MainProject_container__WnKsx {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  .main_container_app .Experience_container__fmXJ7 {
    grid-column: 1 / 2;
    grid-row: 4 / 7;
  }




}

